<div class="container my-5">

<h1 style="color:black;"> Requsets:</h1>
<table class="table my-5">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Client name</th>
            <th scope="col">Date</th>
            <!-- <th scope="col">Status</th> -->
            <th scope="col">Action</th>
            
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let req of myReq; let i=index ;" >
            <th scope="row">{{i+1}}</th>
            <td>{{myUserData[i]}}</td>
            <td>{{ req.reservation_date }}</td>
            <!-- <td>{{ req.status }}</td> -->

            <td *ngIf ="req.status == 'pendding' ">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="submit" class="btn btn-danger" (click)= rejectreq(req._id)>Reject</button>
                    <button type="submit" class="btn btn-success" (click)= acceptreq(req._id)>Accept</button>
                </div>
            </td>
            <td *ngIf ="req.status != 'pendding' ">{{ req.status }}</td>
            
          </tr>
    </tbody>
</table>

</div>